<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"

         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Notifynder DB Integration Suite">
            <directory suffix=".php">./tests/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Notifynder</directory>
        </whitelist>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>./spec</directory>
            <directory>./build</directory>
        </exclude>
    </filter>
    <logging>
        <log type="coverage-html" target="./build/coverage" title="Retail Barometer Code Coverage Results" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="75"/>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
